@include media-query(tablet) {
  .contenedor {
      flex-direction: column;
    }

    .productos-grid {
      grid-template-columns: 1fr;
    }

    .filtros {
      max-width: 100%;
      border-right: none;
      border-bottom: 1px solid #ccc;
    }
    
  nav ul a {
    color: whitesmoke;
  }

footer .pie_de_pagina_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    form{
      margin:0;
      width: 100vw;
    }
  }

    #logo_principal {
    width: 10%;
    height: auto;
    padding-right: 50px;
  }


}

@include media-query(mobile) {
  
  
  header .navbar{
    padding-bottom: 20px;
  }
  
  nav ul a {
    color: whitesmoke;
  }

    #logo_principal {
    width: 25%;
    height: auto;
    padding-right: 50px;
  }

  footer .pie_de_pagina_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    form{
      margin:0;
      width: 100vw;
    }
  }

 
}