$color-principal: rgb(1, 36, 7);
$color-secundario: #55704D;
$color-hover: #103824;
$color-fondo: rgb(177, 190, 184);
$color-footer: #384b33;
$color-footer-texto: #add1b0;
$color-titulo: beige;

$fuente-principal: "Oswald", sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;