footer {
  background-color: $color-footer;
  margin-top: 40px;
  padding: 1rem;

  h3 {
    color: $color-titulo;
  }

  p, form {
    color: $color-footer-texto;
  }
 .redes{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
 }
 .redes a {
  font-size: 4rem;
  margin: 0 10px;
  color:$color-titulo;
  text-decoration: none;
  transition: color 0.3s;
}

.redes a:hover {
  color: #2aa850; /* o el color que uses en tu marca */
}
  .Newsletter{
    background-color: darkolivegreen;
  }

  .pie_de_pagina {
    @include flex(space-between);
    padding: 20px;
    flex-direction: column;
    align-items: center;

    &_grid {
      display: flex;
      justify-content: space-around;
      align-items: center;
    
      .contactenos{
         display: flex;
         flex-direction: column;
        align-items: center;
      }

      .newsletter{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &_copy {
      text-align: right;
      font-size: 14px;
      color: #e0e0e0;
    }

    img {
      width: 30px;
    }
  }

}