$color-principal: rgb(1, 36, 7);
$color-secundario: #55704D;
$color-hover: #103824;
$color-fondo: rgb(177, 190, 184);
$color-footer: #384b33;
$color-footer-texto: #add1b0;
$color-titulo: beige;

$fuente-principal: "Oswald", sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

$form-color: #1e3f1f;
$form-bg: #f9f9f9;
$form-border: #ccc;
$form-radius: 8px;
$form-padding: 1rem;
$form-gap: 1rem;
$form-label-color: #333;

$color-primario-producto: #086d00;
$color-primario-producto-hover: #0a8a00;
$color-fondo-producto: #f6f6f6;
$color-texto-producto: #333;
$color-descuento-producto: green;
$fuente-principal-producto: 'Oswald', sans-serif;