/*select + propiedad + valor
selector {
propiedad:valor
}
*/

p {
  color: blue ;
  font-size: 30px;
  margin: 20px;
}

h1{
color:red;
text-align: center;

}

body{
background-color: aqua;

}

.titulos{
  color: blueviolet;
  text-decoration: underline;
}

#testimonios{
  
color:green;
}